body {
  font-family: 'Roboto', sans-serif;
  background-color: #F6F6F6;
  color: white;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}

.tempcontainer {
  height: 266px;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.humcontainer {
  height: 266px;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#messages {
  position: absolute;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: #666078;
}

#messages2 {
  position: absolute;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: #666078;
}

input[type=text] {
  padding: 10px 20px;
  margin: 2px 0;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 14px;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.button-1 {
  position: absolute;
  background-color: #E57C7C;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 4px 3px 12px 0px #0000000F;
}

.button-disconnect {
  position: absolute;
  background-color: #F43C3C;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 4px 3px 12px 0px #0000000F;
}

.button-connect {
  position: absolute;
  background-color: #76CF74;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 4px 3px 12px 0px #0000000F;
}

.button-1:hover,
.button-1:focus {
  background-color: #FFAAAA;
}

.button-disconnect:hover,
.button-disconnect:focus {
  background-color: #ff5757;
}

.button-connect:hover,
.button-connect:focus {
  background-color: #98e996;
}

.menutitle {
  color: #E57C7C;
}

h4 {
  color: #E57C7C;
  margin-left: 55px;
  margin-top: 60px;
  margin-bottom: 10px;
}

textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}